# Write a function that computes volume of a sphere given it's ridus

In [5]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [7]:
vol(2)

33.49333333333333

# Write a function that checks a number in agiven range(inclusive of hing and low)

In [24]:
for item in range(0,5):
    print(item)

0
1
2
3
4

In [26]:
5 in range (0,5)

False

In [12]:
def ran_check(num,low,high):
    if num in range(low, high+1):
        print(f'{num} is in range of {low} and high')
    else:
        print('not in range')

In [14]:
ran_check(10,6,17)

10 is in range of 6 and high

# Write function that accepts a string and calculates the number of upper case letter and lower case letters

In [20]:
def up_low(s):
     d = {'upper':0,'lower':0}

     for char in s:
         if char.isupper():
             d['upper'] += 1
         elif char.islower():
             d['lower'] += 1
         else:
             pass

     print(f'Original String :{s}')
     print(f'Lowercase count :{d["lower"]}')
     print(f'Upper count :{d["upper"]}')

In [22]:
s = "Hello darkNess mY olD FriEnds?"
up_low(s)

Original String :Hello darkNess mY olD FriEnds?
Lowercase count :19
Upper count :6

# Takes a list and returns a new with unique list elements of the first list

In [33]:
def unique_list(first):
    seen_numbers = []
    for number in first:
        if number not in seen_numbers:
            seen_numbers.append(number)
    return seen_numbers

In [35]:
unique_list([1,2,3,4,4,4,4,5,5,5,5,5,6,6,6,7,7,7,7])

[1, 2, 3, 4, 5, 6, 7]

# Function to multiply all the numbers in a list

In [40]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total = total * num
    return total

In [43]:
multiply([1,2,3,4,-5])

-120

# Check palindrome or not

In [58]:
def palindrome(s):
    # Remove space string
    s = s.replace(' ','')
    # Check is string == reversed version of the string
    
    return s == s[::-1]

In [60]:
palindrome('nurses run')

True

# String is pangram or not

In [65]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    str1 = str1.replace(' ', '').lower()
    str1_set = set(str1)
    return alphaset <= str1_set

In [67]:
ispangram("The quick brown fox jumps over the lazy dog")

True